@(head: String, title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>MyPackkkkkkkkkkk....... @title</title>
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
        
        <script src="@routes.Application.javascriptRoutes" type="text/javascript" ></script>
        
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-modal.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap-modalmanager.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap-transition.js")" type="text/javascript"></script>
        
        
        
    </head>
    <body>
    	<div class="container">
    		
        	@content
        </div>
    </body>
</html>
