@(menuselected: String, brdcumb: String)

@css(item: String) = @{
	if(item == menuselected) {
		"active"
	}
}
<ul class="nav nav-pills">
	<li class="@css("home")">
		<a href="@routes.Application.index">Home</a>
	</li>
	<li>
		<a href="#">Help</a>
	</li>
	<li class="dropdown @css("documents")">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"> Documents <b class="caret"></b> </a>
		<ul class="dropdown-menu">
			<li>
				<a href="#">Studies</a>
			</li>
			<li>
				<a href="#">Official</a>
			</li>
			<li>
				<a href="#">Vehicle</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#">Home</a>
			</li>
		</ul>
	</li>
	<li class="dropdown  @css("collection")">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"> Collection <b class="caret"></b> </a>
		<ul class="dropdown-menu">
			<li>
				<a href="@routes.Movies.loadmoviepage">Movies</a>
			</li>
			<li>
				<a href="#">MP3s</a>
			</li>
		</ul>
	</li>
</ul>
<div style="background-color: #423456">
	<p style="font-weight:bold; font-size:11px; color:#FFFFFF;margin-left:5px;">@brdcumb</p>
</div>